[user]
    name = Your Name
    email = your.email@example.com

[core]
    editor = neovim
    autocrlf = input

[color]
    ui = auto

[alias]
    st = status
    co = checkout
    br = branch
    cm = commit
    df = diff

